services:
  portfolio:
    build: .
    container_name: petterson-portfolio
    ports:
      - "80:8080"
      - "443:8443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /var/cache/nginx:uid=101,gid=101
      - /var/run:uid=101,gid=101
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
